/* Header */

.l-header{
	background: #ddd;
	border-bottom: 1px solid #aaa;
	float: left;
	padding: 50px 0;
	width: 100%;

	h1{
		float: left;
		margin-bottom: 30px;
		text-align: center;
		text-shadow: 0 1px 0 #fff;
		width: 100%;

		a{
			color: #666;
			text-decoration: none;

			&:hover{
				color: #555;
			}
		}
	}
}

/*
	footer
*/

.l-footer{
	background: #222;	
	border-top: 1px solid #111;
	bottom: 0;
	position: fixed;
	text-align: right;
	width: 100%;
	z-index: 20;

	a{
		color: #666;
		float: right;
		font-family: arial;
		font-size: 0.7em;
		margin-right: 2.5%;
		padding: 2px 0;
		text-decoration: none;
	}
}

/* intro container */

.intro-content{
	float: left;
	width: 100%;

	h2{
		float: left;
		width: 100%;
	}

	p{
		float: left;
		width: 100%;
	}
}

/* lyric form */
.form-holder{
	display: block;
	margin: 0 auto;
	max-width: 900px;
}
form.lyric-search{
	background: #ccc;
	border: 1px solid #999;
	box-sizing: border-box;
	float: left;
	padding: 20px 30px 30px 30px;
	width: 100%;

	label{
		float: left;
		margin: 0 0 5px 0;
		width: 100%;
	}

	input{
		border: 0;
		float: left;
		width: 80%;
		padding: 10px;
		box-sizing: border-box;
	}

	button{
		border: 0;
		float: right;
		padding: 10px;
		box-sizing: border-box;
		width: 20%;
	}
}

.search-title{
	float: left;
	text-align: center;
	width: 100%;
	font-size: 1.3em;
	line-height: 2.1em;
	margin: 1.8em 0 0 0;
}

/* Song container */

.song{
	background: #fff;
	border: 1px solid #aaa;
	box-sizing: border-box;
	margin: 0 0 10px 0;
	position: relative;
	float: left;
	width: 100%;
	z-index: 10;

	hgroup{
		border-bottom: 1px solid #aaa;
		box-sizing: border-box;
		float: left;
		padding: 1%;
		width: 100%;

		h3{
			float: left;
			line-height: 1em;
			margin-top: 0.2em;
			width: 60%;
		}

		h4{
			float: right;
			line-height: 1.8em;
			text-align: right;
			width: 40%;
		}
	}

	p{
		box-sizing: border-box;
		float: left;
		padding: 0 2.5%;
		width: 70%;

		em{
			color: #f00;
		}
	}

	a{
		float: right;
		margin: 2.5% 1%;
		text-align: right;
		width: 25%;
	}
}
