/*  Headers  */

h1, .alpha-header{
font-family: arial;
	font-size: 3em;
	line-height: 1.125em;
}

h2, .beta-header{
	font-size: 1.2em;
	line-height: 1.125em;
}

h3, .omega-header{
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.125em;
}

h4, .zeta-header{
	font-size: 1em;
	line-height: 1.125em;
}
